body{
    display: grid;
    grid-template: 4/2;
}

header{
    background-color: #143153;

}

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #051C38;

}

nav a{
    color: white;
    text-decoration: none;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    background-color: #143153;
}

.last {
    color: #ffd900;
    font-size: small;
}

h1{
    color: white;
}

h1 span{
    color: #ffd900;
    font-size: medium;
}

footer p{
    color: white;
}

.card{
    display: grid;
    grid-template: 3/3;
    padding: 10px;
    
    
}

.card2{
    
    padding-top: 10px;
    
}

.card-title{
    text-align: center;
    color: white;
    background-color: #143153;
    padding: 15px;
    border-radius: 20px 20px  0 0 ;
}

.about{
display: grid;
grid-template: 3/3;
padding: 10px;
border: black solid;
box-sizing: border-box;
}

.about-text{
    grid-column: 1/3;
}

.ramon-img{
    grid-column: 3;
    grid-row: 1/2;
    
}

.card-city{
    grid-column: span 2;
    grid-row: 2/3;
    text-align: center;
    

}

.pb{
    grid-column: 1;
    grid-row: 3;
}

.about-pb{
    grid-column: 2/3;
}

.card-end{
    display: flex;
    justify-content: center;
    padding-top: 15%; 
    border: black solid;
    box-sizing: border-box;
    height: 88.5%;
    
    
}