@media (min-width: 740px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
    nav {
        display: flex !important;
    }

    nav ul{
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a{
        flex: 1 1 100%;
    }
    
    .pics{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    
    
}

