:root {
    --primary-color: orange;
    --secondary-color: green;
    --text-color: white;
    --font-main: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 900px) {
    * {
        font-family: var(--font-main);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--primary-color);
        color: var(--text-color);
        width: 100%;
        padding: 25px;
    }

    h1 {
        flex: 1 1 100%;
        font-family: var(--font-main);
        font-weight: 700;
    }

    h2 {
        font-family: var(--font-main);
        font-weight: 600;
    }

    picture {
        padding-top: 10px;
    }

    picture img {
        width: 100%;
        height: auto;
    }

    main {
        max-width: 2000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }

    .heroimage {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroimage img {
        max-width: 650px;
        width: 23rem;
    }

    .countrydata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        padding: 0.2rem;
        margin-bottom: 3rem;
        border-bottom: 2px solid var(--secondary-color);
        position: relative;
    }

    .countrydata ul li {
        list-style: none;
        font-family: var(--font-main);
    }

    .weatherdata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background: rgba(255, 255, 255, 0.8);
        margin: auto 0.1rem;
        margin-bottom: 3rem;
    }

    .weatherdata ul li {
        list-style: none;
        font-family: var(--font-main);
    }

    .weather-icon {
        width: 100px;
        height: auto;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        justify-self: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        background-color: var(--primary-color);
        color: var(--text-color);
        height: 6rem;
        font-family: var(--font-main);
    }
    .heroimage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .heroimage img {
        max-width: 100%;
        height: auto;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}